@font-face {
    font-family: 'fira_sansregular';
    src: url('../fonts/fira/firasans-regular.eot');
    src: url('../fonts/fira/firasans-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fira/firasans-regular.woff') format('woff'),
    url('../fonts/fira/firasans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCond';
    src: url('../fonts/ProximaNova/ProximaNovaCond-Semibold.otf');
    src: url('../fonts/ProximaNova/ProximaNovaCond-Semibold.otf?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansbook';
    src: url('../fonts/fira/firasans-book.eot');
    src: url('../fonts/fira/firasans-book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fira/firasans-book.woff') format('woff'),
    url('../fonts/fira/firasans-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansmedium';
    src: url('../fonts/fira/firasans-medium.eot');
    src: url('../fonts/fira/firasans-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fira/firasans-medium.woff') format('woff'),
    url('../fonts/fira/firasans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/fira/firasans-light.eot');
    src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fira/firasans-light.woff') format('woff'),
    url('../fonts/fira/firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}