
$white-text:                        #ffffff;
$bg-color:                          #eff3f7;
$font-color:                        #4a545d;
$title-color:                       #3ba8c0;

$nav-bg-active:                     #3ba8c0;
$nav-font-color-line:               #3ba8c0;
$nav-font-color:                    #959aa8;

$contact-mail-color:            	#41b9d4;
$contact-phone-color:               #48cbe8;
$contact-skype-color:               #51daf8;

$form-color:						#48cbe8;
$form-title-line:					#67dffa;
$form-color-label:					#959aa8;

$btn-blue-shadow:					#3ba8c0;
$btn-reset-color:					#849db5;
$btn-reset-shadow:					#687b8f;

$btn-enter-color:					#48cbe8;





