// Шрифты

@font-face {
	font-family: 'fira_sansregular';
	src: url('../fonts/fira/firasans-regular.eot');
	src: url('../fonts/fira/firasans-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-regular.woff') format('woff'),
	url('../fonts/fira/firasans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira_sansbook';
	src: url('../fonts/fira/firasans-book.eot');
	src: url('../fonts/fira/firasans-book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-book.woff') format('woff'),
	url('../fonts/fira/firasans-book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira_sansmedium';
	src: url('../fonts/fira/firasans-medium.eot');
	src: url('../fonts/fira/firasans-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-medium.woff') format('woff'),
	url('../fonts/fira/firasans-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira_sanslight';
	src: url('../fonts/fira/firasans-light.eot');
	src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-light.woff') format('woff'),
	url('../fonts/fira/firasans-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


// ПЕРЕМЕННЫЕ

$white-text:                        #ffffff;
$bg-color:                          #eff3f7;
$font-color:                        #4a545d;
$title-color:                       #3ba8c0;

$nav-bg-active:                     #3ba8c0;
$nav-font-color-hover:              #3ba8c0;
$nav-font-color:                    #959aa8;

$contact-email-color:               #41b9d4;
$contact-phone-color:               #48cbe8;
$contact-skype-color:               #51daf8;

//mixins

@mixin clearfix {
&:before, &:after {
	content: ' ';
	display: table;
}
&:after {
	clear: both;
}
}

// Main

html {
	height:100%;
}
body {
	height:100%;
	background: url(../img/bg.png) repeat;
	font: normal 1em 'fira_sanslight';
	color: $font-color;
}











