//Шрифты

@font-face {
	font-family: 'fira_sansregular';
	src: url('../fonts/fira/firasans-regular.eot');
	src: url('../fonts/fira/firasans-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-regular.woff') format('woff'),
	url('../fonts/fira/firasans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCond';
	src: url('../fonts/ProximaNova/ProximaNovaCond-Semibold.otf');
	src: url('../fonts/ProximaNova/ProximaNovaCond-Semibold.otf?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira_sansbook';
	src: url('../fonts/fira/firasans-book.eot');
	src: url('../fonts/fira/firasans-book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-book.woff') format('woff'),
	url('../fonts/fira/firasans-book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira_sansmedium';
	src: url('../fonts/fira/firasans-medium.eot');
	src: url('../fonts/fira/firasans-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-medium.woff') format('woff'),
	url('../fonts/fira/firasans-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira_sanslight';
	src: url('../fonts/fira/firasans-light.eot');
	src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-light.woff') format('woff'),
	url('../fonts/fira/firasans-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



$white-text:                        #ffffff;
$bg-color:                          #eff3f7;
$font-color:                        #4a545d;
$title-color:                       #3ba8c0;

$nav-bg-active:                     #3ba8c0;
$nav-font-color-line:               #3ba8c0;
$nav-font-color:                    #959aa8;

$contact-mail-color:               #41b9d4;
$contact-phone-color:               #48cbe8;
$contact-skype-color:               #51daf8;

//mixins

@mixin clearfix {
&:before, &:after {
	content: ' ';
	display: table;
}
&:after {
	clear: both;
}
}

// Main

html {
	height:100%;
}
body {
	height:100%;
	background: url(../img/bg.png) repeat;
	font: normal 1em 'fira_sanslight';
	color: $font-color;
}

.wrapper {
	min-width: 970px;
	min-height: 100%;
	position: relative;
	height: auto!important ;
	&:after {
		content: "";
		height: 80px;
		display: block;
	}
}


/* HEADER */

.page-header {
	height:116px;
	margin-bottom: 39px;
	background: $bg-color;
	position: relative;
		&__inner {
			@include clearfix();
			max-width: 1200px;
			min-width: 960px;
			height: 100%;
			margin: 0 auto;
			position: relative;
		}
		&__logo {
			left:0;
			position: absolute;
			top: 39px;
		}
		&:after {
			content : ' ';
			display: block;
			height: 3px;

			background-image: linear-gradient(to right,rgba(28,102,122,0.9) 0,rgba(246,250,254,0.9) 0,rgba(216,216,216,0.9) 0,rgba(242,246,250,0.9) 0,rgba(28,102,122,0.9) 48%,rgba(242,246,250,0.9) 100%);
		}
		.logo__text {
		display: none;
		}
}

.page-header__socials {
	position: absolute;
	right: 0;
	top: 20px;
		.socials__item:first-child {
			margin-left: 0px;
		}
}

.socials {

	&__item {
		list-style: none;
		display: inline-block;
		height: 47px;
		width: 47px;
		margin-left: 19px;
	}
	&__link {

		display:block;
		width: 100%;
		height :100%;
		text-indent: -9999px;
		&.vk {
			background: url(../img/vk.png) no-repeat;
			&:hover {
				background: url(../img/vk-effect.png) no-repeat;
			}
		}
		&.tw {
			background: url(../img/tw.png) no-repeat;
			&:hover {
				background: url(../img/tw-effect.png) no-repeat;
			}
		}
		&.fb {
			background: url(../img/fb.png) no-repeat;
			&:hover {
				background: url(../img/fb-effect.png) no-repeat;
			}
		}
		&.gh {
			background: url(../img/gh.png) no-repeat;
			&:hover {
				background: url(../img/gh-effect.png) no-repeat;
			}
		}
	}
}

/* variable content */

.sidebar {
	width: 250px;
	float: left;
}

/* Навигация */

.navigation{
	margin-bottom: 25px;
	border-radius: 4px;
	overflow: hidden;
	background: $bg-color;
	&__list {
		list-style: none;
		margin:0;
		padding:0;
	}
	&__item {
		border-top: 2px solid $nav-font-color-line;
		margin: 0 10px;
		&:first-child {
			border-top: none;
		}
	}
	/* для текущего пункта меню */
	.navigation__item--active {
		background: $nav-bg-active;
		border-bottom: none;
		margin: 0;
		margin-bottom: -2px;
		padding-left: 10px; /* чтобы текст не съехал влево */
			.navigation__link {
				color: $white-text;
				font-size: 23px;
			}
}
	&__link {
		display: block;
		text-decoration: none;
		color: $nav-font-color;
		font-family: 'fira_sansbook';
		font-size: 21px;
		padding: 20px 0;
		margin-left: 17px;
			&:hover {
				color: $title-color;
			}
	}
}

/* Контакты */
.contacts {
	background: $bg-color;
	font-family: 'fira_sansbook';
	font-size: 21px;
	color: $white-text;
	overflow: hidden;
	border-radius: 5px;
	margin-right: -10px;


	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__title {
		font-size: 21px;
		background:$title-color;
		padding: 5px 20px;
	}
	&__text {
		margin-left: 80px;
	}

	.contacts__mail {
		background-color:$contact-mail-color;
		padding: 5px 0;
	}
	.contacts__phone {
		background-color:$contact-phone-color;
		padding: 5px 0;
	}

	.contacts__skype {
		background-color:$contact-skype-color;
		padding: 5px 0;
	}

	&__link {
		text-decoration: none;
		color:$white-text;
		font-size: 17px;
		&:hover { text-decoration: underline; }
	}
}

.contacts__mail {
		background: url(../img/mail.png) 40px center no-repeat;
	}
.contacts__phone {
		background: url(../img/mobile.png) 40px center no-repeat;
	}
.contacts__skype {
		background: url(../img/skype.png) 40px center no-repeat;
	}






/* Изменяемы контент */

.page-content {
	width:650px;
	float: right;
}
/* Работа и Образование*/
.about-me {
	overflow: hidden;
	background: $bg-color ;
	border-radius: 5px;
	margin-bottom:26px;
		&__title {
		display: inline-block;
		color: $title-color;
		font-family: 'fira_sansbook';
		font-size: 27px;
		padding: 14px 22px;
		border-bottom: 2px solid $title-color;
		margin-bottom: 23px;
		}
		&__list {
			list-style: none;
			margin:0;
			padding: 0;
		}
		&__where {
			font-family: 'fira_sansbook';
			font-size: 17px;
		}
		&__period {
			font-family: 'fira_sanslight';
			font-size: 15px;
			line-height: 1;
		}
		&__inner {
			padding-bottom: 20px;
		}
}


.about-me {
	.about-me__item {
		padding-left: 85px;
		margin-bottom: 20px;
		&.work-icon {
			margin-left: 43px;
			background: url(../img/case.png) 16px center no-repeat;
		}
		&.college-icon {
			margin-left: 43px;
			background: url(../img/hat.png) 15px center no-repeat;
		}
		&.course-icon {
			margin-left: 43px;
			background: url(../img/doc.png) 22px center no-repeat;
		}
	}
}

/* Основная информация */
.about-me__inner {
		@include clearfix();
		padding-bottom: 20px;
}
.image-wrap {
	float: left;
	margin-left: 55px;
	margin-top: 20px;
}

	.avatar-box {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		width: 145px;
		height: 145px;
		border-radius: 50% 50%;
		border: 5px solid #3ba8c0;
	}

.worksheet {
	float: right;
	width: 420px;
		&__list {
			margin: 0;
			padding: 0;
			list-style:none;
		}
		&__item {
			margin-bottom: 9px;
			vertical-align: bottom;
			@include clearfix();
		}
		&__question {
			float: left;
			font-family: 'fira_sansmedium';
			font-size: 17px;
		}
		&__answer {
			font-family: 'fira_sansbook';
			margin-left: 20px;
			font-size: 15px;
			overflow: hidden;
			float: left;
			max-width: 218px;
		}
}
.skill {
		&__list {
		font-family: 'ProximaNovaCond';
		list-style: none;
		margin:0;
		padding:0;
		width:192px;
		margin-bottom: 16px;
	}
		&__item {
			border-radius: 2px;
			padding: 0 7px;
			margin: 0 6px 5px 0;
			line-height: 1.2;
			color: $white-text;
			display: inline-block;
			background: linear-gradient(bottom, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
		}
}

/* общий стиль */
.container {
		@include clearfix();
		width: 960px;
		margin: 0 auto;
}

/* FOOTER */
.page-footer {
		background: $bg-color;
		font-family: 'fira_sanslight';
		color: $font-color;
		height: 80px;
		min-width:970px;
		margin-top: -80px;
		.footer__copyright {
			text-align: center;
			font-size: 13px;
			margin: 0 180px;
			padding-top: 7px;
		}
		&:before {
			content : ' ';
			display: block;
			height: 3px;
			background-image: linear-gradient(to right,rgba(28,102,122,0.9) 0,rgba(246,250,254,0.9) 0,rgba(216,216,216,0.9) 0,rgba(242,246,250,0.9) 0,rgba(28,102,122,0.9) 48%,rgba(242,246,250,0.9) 100%);
		}
}

.page-footer .container {
			padding-top: 23px;
			position: relative;
		}

.footer__lock {
		display:block;
		position:absolute;
		padding-left:24px;
		top: 26px;
		left: 20px;
		width: 20px;
		height: 32px;
		background: url(../img/lock.png) no-repeat;
		&:hover {
			background: url(../img/unlock.png) no-repeat;
		}
	}












