// FOOTER
footer.page-footer
	div.page-footer__inner
		a.inner__lock(href="/login.html") Войти
		p.inner__copyright  &copy;  2015. Это мой сайт, пожалуйста, не копируйте и не воруйте его
// FOOTER