// HEADER
header.page-header
	div.page-header__inner
			a(href="/index.html").page-header__logo
					img(src="img/logo.png", alt="logo").logo__img
					span.logo__text Сайт Портфолио
			ul.page-header__socials
					li.socials__item
						a.socials__link.vk(href="https://vk.com/nstkm"  target="_blank") Вконтакте
					li.socials__item
						a.socials__link.tw(href="https://twitter.com/unasvsebudet" target="_blank") Twitter
					li.socials__item
						a.socials__link.fb(href="https://www.facebook.com/" target="_blank") Facebook
					li.socials__item
						a.socials__link.gh(href="https://github.com/nstkm" target="_blank") Github
// HEADER


