head
		meta(charset="UTF-8")
		meta(http-equiv= "X-UA-Compatible" content="IE=edge")
		meta(name="viewport"  content="width=device-width, initial-scale=1")
		title Обо мне
		meta(name="author" content="Анастасия Ким")
		link(rel="icon",href="img/panda-ball.ico",type="image/x-icon")
		link(rel="stylesheet",href="bower_components/normalize.css/normalize.css")
		link(rel="stylesheet",href="css/main.css")
		script(src="bower_components/modernizr/modernizr.js")
