head
		meta(charset="UTF-8")
		meta(http-equiv= "X-UA-Compatible" content="IE=edge")
		meta(name="viewport"  content="width=device-width, initial-scale=1")
		title NSTKM
		meta(name="author" content="Анастасия Ким")
		//FAVICON
		link(rel="icon",href="img/panda-ball.ico",type="image/x-icon")
		// BOWER
		link(rel="stylesheet",href="bower_components/normalize.css/normalize.css")
		link(rel="stylesheet",href="css/style.css")
		// MODERNIZR
		script(src="bower_components/modernizr/modernizr.js")
		// qtip
		link(rel="stylesheet",href="bower_components/qtip2/jquery.qtip.css")
