<!DOCTYPE html>
html(lang="ru-Ru")
		include ./components/head.jade
body
		div.wrapper
			div.main-content
			include ./components/header.jade
			div.container
				// Навигация
				aside.sidebar
					nav.navigation
						ul.navigation__list
							li.navigation__item
								a.navigation__link(href='/index.html') Обо мне
							li.navigation__item
								a.navigation__link(href='/myworks.html') Мои работы
							li.navigation__item.navigation__item--active
								a.navigation__link(href='/contactme.html') Связаться со мной
					div.contacts
						div.contacts__title Контакты
						ul.contacts__list
							li.contacts__item.contacts__mail: a.contacts__link(href="mailto:nstkmkm@gmail.com")
									span.contacts__text nstkmkm@gmail.com
							li.contacts_item.contacts__phone: a.contacts__link(href="tel:+79818496141")
									span.contacts__text +79818496141
							li.contacts_item.contacts__skype: a.contacts__link(href="skype:skype_nstkmkm?chat")
									span.contacts__text nstkmkm
				article.page-content
					// Связаться со мной
					section.contact-me
						div.contact-me__title
							div.contact-me__title-text У вас интересный проект? Напишите мне
						form.contact__form(action='')
							div.form__wrapper
								div.form__name
										label.form__label(for='name') Имя
										input.form__input(id='name' , type='text' , name='name' ,  placeholder='Как к Вам обращаться')
								div.form__email
										label.form__label(for='mail') Email
										input.form__input(id='mail' , type='email' , name='email' , placeholder='Куда мне писать')
							div.form__wrapper
								label.form__label(for='message') Сообщение
								textarea.form__text(id='message' , rows='10' ,  placeholder='Кратко в чем суть')
							div.form__wrapper
								label.form__label(for='captcha') Введите код, указанный на картинке
									div.form__captcha
										img.form__captcha-img(src='img/captcha.png' alt='captcha')
									div.captcha__code
										label.form__label(for='captcha')
										input.form__input.captcha__code-text(type='text' placeholder='Введите код' id='captcha')
							div.form__wrapper
								div.form__btn-submit
									button.form__btn.btn-submit(type="submit") Отправить
								div.form__btn-reset
									button.form__btn.btn-reset(type="reset") Очистить
include ./components/footer.jade
script(src="bower_components/jquery/jquery.js")
script(src="js/main.js")