<!DOCTYPE html>
html(lang="ru-Ru")
		include ./components/head.jade
body
	div.wrapper.login
		div.login-page
			div.login-content
				div.login__title
					div.login__title-text Авторизируйтесь
				form.login__form(action='', id='login-page')
					div.login__big-wrapper
						div.login__wrapper
							label.login__label(for='login') Логин
							input.login__input(id='login' type='text' placeholder='Введите логин', qtip-content="введите логин" , qtip-position="left")
						div.login__wrapper-password
							label.login__label(for='password') Пароль
							input.login__input(id='password' type='password' placeholder='Введите пароль' , qtip-content="введите пароль" , qtip-position="left")
						div.login__btn
							button.login__btn-enter(type='submit') Войти

include ./components/footer.jade
script(src="bower_components/jquery/jquery.js")
script(src="/bower_components/jquery-placeholder/jquery.placeholder.js")
script(src="js/login.js")
script(src="js/valid.js")
script(src="bower_components/qtip2/jquery.qtip.js")