<!DOCTYPE html>
html(lang="ru-Ru")
		include ./components/head.jade
body
		div.wrapper
			div.main-content
			include ./components/header.jade
			div.container
				// Навигация
				aside.sidebar
					nav.navigation
						ul.navigation__list
							li.navigation__item
								a.navigation__link(href='/index.html') Обо мне
							li.navigation__item.navigation__item--active
								a.navigation__link(href='/myworks.html') Мои работы
							li.navigation__item
								a.navigation__link(href='/contactme.html') Связаться со мной
					div.contacts
						div.contacts__title Контакты
						ul.contacts__list
							li.contacts__item.contacts__mail: a.contacts__link(href="mailto:nstkmkm@gmail.com")
									span.contacts__text nstkmkm@gmail.com
							li.contacts_item.contacts__phone: a.contacts__link(href="tel:+79818496141")
									span.contacts__text +79818496141
							li.contacts_item.contacts__skype: a.contacts__link(href="skype:skype_nstkmkm?chat")
									span.contacts__text nstkmkm
				article.page-content
					section.about-me
						div.about-me__title Мои работы
						div.mywork-container
							ul.mywork__list
								li.mywork__item
									div.mywork__image-wrap
										img.mywork__image(alt='www.site.ru' src='img/myworks.jpg')
										a.mywork__link(href='#' target='_blank')
											span.mywork__name название
									div.mywork__description
										a.mywork__description-link(href='#' target='_blank') www.site.ru
										div.mywork__description-info Информация о 1 проекте
																	| очень много информации
																	| очень очень много
								li.mywork__item
									div.mywork__image-wrap
										img.mywork__image(alt='www.site.ru' src='img/myworks.jpg')
										a.mywork__link(href='#' target='_blank')
											span.mywork__name название
									div.mywork__description
										a.mywork__description-link(href='#' target='_blank') www.site.ru
										div.mywork__description-info Информация о 2 проекте
																	| очень много информации
																	| очень очень много
								li.mywork__item
									div.mywork__image-wrap
										img.mywork__image(alt='www.site.ru' src='img/myworks.jpg')
										a.mywork__link(href='#' target='_blank')
											span.mywork__name название
									div.mywork__description
										a.mywork__description-link(href='#' target='_blank') www.site.ru
										div.mywork__description-info Информация о 3 проекте
																	| очень много информации
																	| очень очень много
								li.mywork__item
									div.mywork__image-wrap
										img.mywork__image(alt='www.site.ru' src='img/myworks.jpg')
										a.mywork__link(href='#' id target='_blank')
											span.mywork__name название
									div.mywork__description
										a.mywork__description-link(href='#' target='_blank') www.site.ru
										div.mywork__description-info Информация о 4 проекте
																	| очень много информации
																	| очень очень много
								li.mywork__item.add-new-item
									a.mywork__link.mywork__link-add(href='#' id='add-new-item')
										span.mywork__add-text Добавить проект

/* Модальное окно - Popup*/
div.popup
	div.popup-content
		div.popup__title
			div.popup__title-text
		form.popup-form(action='')
			.popup-wrapper
				label.popup__label(for="project-name") Название проекта
				input.popup__input(id='project-name' type='text' placeholder='Введите название')
			.popup-wrapper
				label.popup__label(for="project-img") Картинка проекта
				input.popup__input(id='project-img' type='text' placeholder='Загрузите изображение')
			.popup-wrapper
				label.popup__label(for="project-url") URL проекта
				input.popup__input(id='project-url' type='text' placeholder='Добавьте ссылку')
			.popup-wrapper.textarea
				label.popup__label(for="project-text") Описание
				teztarea.popup__text(id='project-text' type='text' rows='3' placeholder='Пара слов о вашем проекте')
			.popup__btn
				button.popup_btn-add(type='submit') Добавить







include ./components/footer.jade
script(src="bower_components/jquery/jquery.js")
script(src="js/main.js")