@import '../variables.scss';
@import '../mixins.scss';

@font-face {
	font-family: 'fira_sanslight';
	src: url('../fonts/fira/firasans-light.eot');
	src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-light.woff') format('woff'),
	url('../fonts/fira/firasans-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira_sansbook';
	src: url('../fonts/fira/firasans-book.eot');
	src: url('../fonts/fira/firasans-book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fira/firasans-book.woff') format('woff'),
	url('../fonts/fira/firasans-book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Связаться со мной */
.contact-me {
		min-height: 841px;
		background: $bg-color;
		margin-bottom: 35px;
		overflow: hidden;
	&__title {
		background: $form-color;
		border-radius: 4px;
		margin-bottom: 45px;
		&-text {
				color: $white-text;
				font-size: 27px;
				padding: 39px 0 39px 48px;
				border-bottom: 17px solid $form-title-line;
				font-family:'fira_sansbook' ;
		}
	}
}

.contact__form {
	margin: 0 auto;
	width: 405px;
	font-family:'fira_sanslight' ;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form {
		&.form__name {
				margin-right: 18px;
				display: inline-block;
				width:100%;
				vertical-align: top;
		}
	&__label{
			font-size: 19px;
			color: $form-color-label;

	}
	&__input  {
			border-radius: 3px;
			border: 1px solid $form-color;
			width: 187px;
			font-size: 13px;
			color: $form-color;
			outline: none;
			padding: 8px;
			display: inline-block;
	}
		&__text {
			font-size: 13px;
			color: $form-color;
			width: 100%;
			border-radius: 3px;
			border: 1px solid $form-color;
			padding: 8px;
			outline: none;
			line-height: 16px;
		}
	&__wrapper {
		margin-bottom: 18px;
	}
	&__captcha {
			background: $white-text;
			border-radius: 3px;
			border: 1px solid $form-color;
			&-img {
				padding:15px;
			}

	}
}

input::-webkit-input-placeholder { color: $form-color; font-size: 13px;}
input:-moz-placeholder {color: $form-color; font-size: 13px;}
textarea::-webkit-input-placeholder {line-height: 16px; color: $form-color; font-size: 13px;}
textarea:-moz-placeholder {line-height: 16px; color: $form-color; font-size: 13px;}



